{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap clearfix">
		<a href="/business/" class="menu__item">业务范围</a>
		<a href="/cases/" class="menu__item">
 案例展示</a>
		<a href="/news/" class="menu__item">新闻动态</a>
		<a href="/about/" class="menu__item">关于我们</a>
	</div>
</nav>