@import 'bootstrap-paper.css'
@import 'animate'
@import 'slick'
@import '../icon/dtart.css'

body
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

@media (min-width: 1200px)
  .container
    max-width: 970px

.row.no-gutters
  margin-left: 0
  margin-right: 0
  > [class^="col-"], > [class*=" col-"]
    padding-left: 0
    padding-right: 0

.hidden-ie7
  html.ie7 &
    display: none
.hidden-ie8
  html.ie8 &
    display: none

$brand-color = #ca4773
$bk-color = #323232
$font-color-white = #eeeeee
$font-color-dark = #333333
$gray = #eee

//global styles
a
  color: $font-color-white
  &, &:hover, &:visited, &:focus
    text-decoration: none
ul
  padding: 0
  margin: 0
  list-style-type: none
  
//components
body
  background: #fff
.top-banner
  background: $bk-color
  height: 30px
  line-height: 30px
  color: #ddd
  .contact-link
    margin-left: 5px
    color: lighten($brand-color,50%)
    &:hover
      color: lighten($brand-color, 80%)
.stripe
  height: 5px
  background: $brand-color
  background: linear-gradient(274deg, #CE3CF7, #FFF238)
  background-size: 400% 400%
  @extend .backgroundRotate
.header
  padding-top: 20px
  .title
    color: $brand-color
    letter-spacing: 5px
    font-weight: bold
.intro
  padding-top: 15px
.menu-nav
  list-style-type: none
  margin-bottom: 0
  padding-left: 0
  &:after
    content: " "
    display: table
    clear: both
  a
    text-decoration: none
    margin: 0
    padding: 0
    display: block
    padding: auto 20px
    text-align: center
    height: 43px
    line-height: 43px
    color: $font-color-dark
  .flip-box
    .bottom
      color: $font-color-white
      background-color: $brand-color
  >li
    position: relative
    float: left
    width: 100px
    >ul
      width: 100%
      padding: 0
      position: absolute
      left: 0
      top: 100%
      display: none
      z-index: 10
      >li
        width: 100%
        transition: background-color 0.3s
        background-color: #fff
        a
          color: $font-color-dark
          text-align: center
        &:hover a //secondary menu hover effect
          background-color: $brand-color
          color: $font-color-white
    &:hover   //top menu item hover effect: show submenu
      > ul
        display: block
        @extend .animated, .flipInX
    &.active, &:hover  //top menu hover and active effect: hight anchor
      .flip-box
        @extend .flipUp
        html[class^="ie"] &  //add hightlight for ie
          background-color: $brand-color
          color: $font-color-white

.modal-nav-toggle
  border: none
  background: transparent
  padding: 10px
  span
    width: 22px
    height: 2px
    background: $bk-color
    display: block
    margin-top: 10px
    &:first-child
      margin-top: 0
  
.modal-nav-wrap
  position: fixed
  background-color: #fff
  top: 0
  right: 0
  height: 0
  width: 0
  // z-index: 100
  overflow-x: hidden
  overflow-y: auto
  opacity: 0
  &.active
    opacity: 1
    height: 100%
    width: 100%
  .close-button
    font-size: 50px
    margin-right: 15px
    cursor: pointer
    float: right
  .modal-nav
    width: 100%
    font-size: 40px 
    text-align: center
    a
      display: block
      color: $brand-color
  
.menu-nav-2
  list-style-type: none
  padding-left: 0
  margin-bottom: 0
  &:after
    content: " "
    display: table
    clear: both
  li
    cursor: pointer
    float: left
    background-color: $gray
    a
      padding: 4px 10px
      color: $font-color-dark
    &.active a, a:hover
      background-color: $brand-color
      color: $font-color-white
      @extend .animated
      @extend .flipInY
    + li
      margin-left: 2px

.img-lg
  height: 360px
  line-height: 360px
.img-sm
  height: 165px
  line-height: 165px
.img-lg, .img-sm
  background-color: #000
  overflow: hidden
  margin-bottom: 30px
  text-align: center
  position: relative
  color: #fff
  > img
    max-width: 100%
    height: auto
    transition: all 0.3s
  .img-title
    font-size: 25px
  .img-detail
    font-size: 15px
  .img-title, .img-detail
    text-align: center
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    z-index: 2
    opacity: 0
    transition: margin-top 0.3s, opacity 0.3s
    @extend .hidden-ie7
    @extend .hidden-ie8
  .backdrop
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    background: #000
    opacity: 0
    z-index: 1
    transition: opacity 0.3s
    @extend .hidden-ie7
    @extend .hidden-ie8
  &:hover 
    img
      transform: scale(1.1)
    .backdrop
      opacity: 0.5
    .img-title
      margin-top: -10px
      opacity: 1
  &.active .tab-pane-item
    @extend .animated
    @extend .puffIn

.img-crop-w
  overflow: hidden
  img
    max-height: 100%
    width: auto

[data-media],[data-image]
  cursor: pointer
 
#image-slick
  position: fixed
  display: none
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #000
  z-index: 100
  .slick-list
    height: 100%
    .slick-track
      height: 100%
        .slick-slide
          position: relative
          img
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            max-height: 100%
            max-width: 100%
          .title
            color: #fff
            text-align: center
            font-size: 30px
            position: absolute
            bottom: 5%
            width: 100%
            text-shadow: 1px 1px 3px rgba(150, 150, 150, 1)
  &.active
    display: block !important

.biz
  .row
    .col-sm-3
      height: 220px
      img
        display: inline
.customers
  .customer-logo
    height: 65px
    img
      display: inline
hr.thin
  margin-top: 3px
  margin-bottom: 10px

.slick-slider
  .prevArrow, .nextArrow
    position: absolute
    top: 40%
    color: #eee
    font-size: 100px
    opacity: 0.5
    height: 100px
    width: 100px
    cursor: pointer
    &:hover
      opacity: 1
  .prevArrow
    left: 5%
  .nextArrow
    right: 5%

footer
  &, a, a:hover,a:visited
    color: #bbb
    text-decoration: none
  a:hover
    color: #eee
  background-color: $bk-color
  padding-top: 20px
  
.modal-backdrop.in
  opacity: 0.8
.modal-content
  background-color: #000
  h4, .close
    color: #fff
//content page
.banner
    height: 150px
    &.green
      background-color: #53e0b3
.content-wrap
  margin-bottom: 30px
  > .panel
    position: relative
    margin-top: -45px
    min-height: 400px
    .panel-title
      font-size: 20px
//services.ejs
.project-process
  .project-process-title
    margin-bottom: 0
    border: 1px solid #eee
    padding-top: 10px
    padding-bottom: 10px
    min-height: 105px
  .project-process-description
    min-height: 105px
    border: 1px solid #eee
    p
      margin-top: 0.5em
      margin-bottom: 0.5em
      span
        display: inline-block
        font-weight: bold
        width: 20%
        text-align: right
  .glyphicon-menu-down
    font-size: 25px