<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="bootstrap-paper.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="top-banner">
    <div class="container clearfix">
      <span>申明: 大唐艺方版权所有</span>
      <span class="pull-right">联系电话: 029-68740852</span>
    </div>
  </div>
  <div class="stripe"></div>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="http://dt-art.qiniudn.com/assets/LOGO.png" alt="DT-ART" />
        </div>
        <div class="col-sm-8">
          <h5 class="text-right title">数字动画表现专家</h5>
          <div>
            <ul class="menu-nav pull-right clearfix">
              <li class="active"><a href="/">HOME</a>
              </li>
              <li><a href="#">WORKS</a>
                <ul>
                  <li><a href="#">三维动画</a>
                  </li>
                  <li><a href="#">多媒体</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">SERVICES</a>
                <ul>
                  <li><a href="#">服务范围</a>
                  </li>
                  <li><a href="#">服务体系</a>
                  </li>
                  <li><a href="#">售后服务</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">ABOUT</a>
                <ul>
                  <li><a href="#">公司简介</a>
                  </li>
                  <li><a href="#">企业文化</a>
                  </li>
                  <li><a href="#">合作单位</a>
                  </li>
                </ul>
              </li>
              <li><a href="./contact.html">CONTACT</a>
                <ul>
                  <li><a href="#">详细地址</a>
                  </li>
                  <li><a href="#">工作招聘</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%- yield %>
  <div class="stripe"></div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div>
            <img src="http://dt-art.qiniudn.com/assets/logo-small.png" alt="" />
          </div>
          <p>
            <a href="#">详细地址</a>
            <a href="#">团队建设</a>
            <a href="#">合作单位</a>
            <a href="#">工作招聘</a>
          </p>
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/srcode.png" alt="SR Code" />
        </div>
        <div class="col-sm-4">
          <p><span class="glyphicon glyphicon-map-marker"></span> 西安市高新区唐延南路逸翠园i都会4号楼1单元1634室</p>
          <p><span class="glyphicon glyphicon-earphone"></span> 029-68740852 18729393376</p>
          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:dt-art@qq.com">dt-art@qq.com</a></p>
        </div>
      </div>
      <div class="text-center">
        <p>DTART DIGITAL TECHNOLOGY 2014 ALL RIGHTS RESERVED</p>
        <p>大唐艺方 版权所有</p>
      </div>
    </div>
  </footer>
</body>

</html>
