<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">关于我们</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active">公司结构</li>
                        <li>公司文化</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h3>这里还没有提供</h3>
        </div>
    </div>
</div>
