<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">关于我们</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#about-company">公司简介</a>
                        </li>
                        <li><a href="#about-culture">企业文化</a>
                        </li>
                        <li><a href="#about-partners">合作单位</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body shift-padding">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane no-padding" name="about-company">
                    <img class="img-responsive" src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/about-company.jpg" data-crop="imageView2/1/w/500/h/200">
                    <hr class="invisible" />
                    <p class="has-padding">
                        西安大唐艺方数字科技有限公司由西安正奇广告文化传播有限公司于2012年发起成立，并设有兰州、银川办事处，是一家专注于提供高质量三维动画，多媒体制作，建筑可视化,视频拍摄的综合视觉艺术服务提供商。公司设立四年来，秉承“立足西安，面向全国”的宗旨，使其成为西安数字视觉行业最具成长性的本土视觉机构。公司坚持以艺术创新为目标，以市场寻求为起点，专注服务于建筑、规划、园林、房地产、道路、桥梁、大型企业等市政工程领域,致力于建筑规划三维动画、建筑投标三维动画、房地产销售动画、道路桥梁表现动画、建筑招投标多媒体、企业形象多媒体、企业专题片制作、视频拍摄、三维影视动画制作、规划效果图表现、建筑效果图表现、园林景观效果图、公共空间设计效果图、展示展览设计效果图等电脑视觉及视频服务。公司成立以来，与政府部门、建筑设计院、房地产及其他行业公司建立了良好的合作伙伴关系。 我们努力为客户创造深度价值！致力于成为西部领先的专业数字图像服务商，以全新的品牌传播理论引领中国数字视觉潮流。
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" name="about-culture">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-sm">
                                <img src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/about-culture.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h5>核心目标</h5>
                            <p>
                                打造西部一流专业数字图像服务公司
                            </p>
                            <hr/>
                            <h5>企业精神</h5>
                            <p>
                                专业，专注，高效，高质。
                            </p>
                            <hr/>
                            <h5>客户</h5>
                            <p>
                                了解、倾听客户的需求； 提供高效率、高品质，超出客户预期的产品和服务 信守承诺，服务好每一位客户 与客户建立双赢的伙伴关系
                            </p>
                            <hr/>
                            <h5>员工</h5>
                            <p>
                                员工相互信任、尊重，积极向上，发扬团队精神 为员工提供培训机会，鼓励员工技术与管理创新、分享知识和经验 为员工提供一个公平公正的可持续发展平台 让员工分享公司发展成果，改善员工生活 所有员工享受工作并为公司的目标感到自豪
                            </p>
                            <hr/>
                            <h5>社会</h5>
                            <p>
                                遵守法律法规 树立高度的行业道德 为社会创造更多的就业机会 积极参与社会的公益活动
                            </p>
                            <hr/>
                            <h5>发展</h5>
                            <p>
                                追求永续发展的目标，追求技术的创新，引领行业前沿发展，打造数字图像永恒品牌。
                            </p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="about-partners">
                    <% for(var i in [0, 1,2,3,4])
                        { for(var j in [0, 1,2,3,4,5,6,7]){ %>
                            <div class="partner-wrapper">
                                <div class="partner partner-<%=i%>-<%=j%>">
                                </div>
                            </div>
                    <% } }%>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
