<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">关于我们</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#">公司结构</a></li>
                        <li><a href="#">公司文化</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
        	<div class="test-ani"><div> <h3>这里还没有提供</h3></div></div>
        </div>
    </div>
</div>
