<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">关于我们</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#about-company">公司简介</a>
                        </li>
                        <li><a href="#about-culture">企业文化</a>
                        </li>
                        <li><a href="#about-partners">合作单位</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h3 class="center-center">关于我们<h3>
        </div>
    </div>
</div>
