<div class="content">
	<div class="banner green">
	</div>
	<div class="content-body container">
		<div class="title">
			<h3>About US</h3>
		</div>
		<div class="row">
			Hello
		</div>
	</div>
</div>