<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">联系我们</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active">
                            <a href="#contact-address">详细地址</a>
                        </li>
                        <li>
                            <a href="#contact-jobs">招聘信息</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" name="contact-address">
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                <h6 class="text-muted"><i class="glyphicon glyphicon-earphone"></i> 电话</h6> 02968740852, 18729393376 陆经理
                            </p>
                            <p>
                                <h6 class="text-muted"><i class="icon-qq"></i> QQ</h6> 1811772034
                            </p>
                            <p>
                                <h6 class="text-muted"><i class="glyphicon glyphicon-envelope"></i> 邮箱</h6> dt-art@qq.com</p>
                            <p>
                                <h6 class="text-muted"><i class="glyphicon glyphicon-map-marker"></i> 地址</h6>西安市高新区唐延南路逸翠园i都会4号楼1单元1634室</p>
                        </div>
                        <div class="col-md-8">
                            <div><a title="打开腾讯地图查看" target="_blank" href="http://apis.map.qq.com/uri/v1/marker?marker=coord:34.183992,108.885326;title:大唐艺方;addr:唐延南路逸翠园"> <img class="img-responsive" src="http://apis.map.qq.com/ws/staticmap/v2/?center=34.183992,108.885326&zoom=15&size=600*300&maptype=roadmap&labels=border:1|size:12|color:0x000000|bgcolor:0xffffff00|anchor:3|offset:0_-5|%E5%A4%A7%E5%94%90%E8%89%BA%E6%96%B9|34.183992,108.885326&key=2AMBZ-YCACP-FSWDM-VMRZB-KQEUF-DJFVM"></a></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="contact-jobs">
                    <h3 class="text-center">暂时没有招聘信息</h3>
                    <h5 class="text-center text-muted">敬请留意关注</h5>
                </div>
            </div>
        </div>
    </div>
</div>
