.tab-pane
  .tab-pane-item
    &.item1
      background: url('http://wenwen.sogou.com/p/20100922/20100922212946-1654317378.jpg')
    &.item2
      background: url('http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg') 
    &.item3
      background: url('http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg')