<div id="slider_container">
    <!-- Slides Container -->
    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
        Loading...
    </div>
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 1300px; height: 300px;">
        <div><img u="image" src="http://www.jssor.com/img/1920/purple.jpg" />
        </div>
        <div><img u="image" src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/05/city-wallpaper-7.jpg" />
        </div>
    </div>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
        </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px">
        </span>
</div>
<div class="container">
    <div class="intro">
        <h4 class="text-center">大唐艺方简介</h4>
        <h6 class="text-center text-muted">INTRODUCTION OF DTART</h6>
        <hr />
        <p>大唐艺方是一家专注于提供高质量三维动画，多媒体制作，建筑可视化的综合视觉艺术服务提供商。公司创业四年来，秉承“立足西安，面向全国”的宗旨，使其成为西安数字视觉行业最具成长性的本土视觉机构。公司成立以来，与政府部门、建筑设计院、房地产及其他行业公司建立了良好的合作伙伴关系。 我们努力为客户创造深度价值！致力于成为西部领先的专业数字图像服务商，以全新的品牌传播理论引领中国数字视觉潮流。
        </p>
    </div>
    <hr class="invisible" />
    <div id="works" class="works">
        <div class="row">
            <div class="col-sm-2">
                <ul class="menu-nav-2">
                    <li>
                        <a href="#works" title="">案例展示</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <ul class="menu-nav-2 pull-right">
                    <li class="active"><a href="#works-animation" title="">三维动画</a>
                    </li>
                    <li><a href="#works-media" title="">多媒体</a>
                    </li>
                    <li><a href="#works-video" title="">影视广告</a>
                    </li>
                    <li><a href="#works-drawing" title="">效果图</a>
                    </li>
                    <li><a href="#works-others" title="">其他作品</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="thin" />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="works-animation">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tab-pane-item item-lg item1">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="tab-pane-item item-sm item0">
                        </div>
                        <div class="tab-pane-item item-sm item1">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="tab-pane-item item-sm item1">
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="works-media">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tab-pane-item item-lg item2"></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="tab-pane-item item-sm item0"></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="tab-pane-item item-sm item2"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="works-video">Video</div>
            <div role="tabpanel" class="tab-pane" id="works-drawing">drawing</div>
            <div role="tabpanel" class="tab-pane" id="works-others">others</div>
        </div>
    </div>
    <hr class="invisible" />
    <div class="biz">
        <div>
            <ul class="menu-nav-2">
                <li><a href="#">核心业务</a>
                </li>
            </ul>
        </div>
        <hr class="thin" />
        <div class="row text-center">
            <div class="col-sm-3 col-xs-6">
                <a href="/works.html" title=""><img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-animation.png" alt="Animation">
                </a>
                <h4>三维动画</h4>
                <p class="text-muted">3D Animation</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#" title=""><img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-media.png" alt="Animation">
                </a>
                <h4>多媒体</h4>
                <p class="text-muted">Multimedia</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-video.png" alt="Animation">
                <h4>影视广告</h4>
                <p class="text-muted">Video shoot</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-impression.png" alt="Animation">
                <h4>效果图</h4>
                <p class="text-muted">Impression Drawing</p>
            </div>
        </div>
    </div>
    <hr class="invisible" />
    <div class="customers text-center">
        <div>
            <ul class="menu-nav-2">
                <li><a href="#">合作客户</a>
                </li>
            </ul>
        </div>
        <hr class="thin" />
        <div class="row">
            <div class="col-sm-2 col-xs-6 customer-logo">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus1.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus2.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus3.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus4.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus5.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus6.png" alt="">
            </div>
        </div>
    </div>
    <hr class="invisible" />
</div>

<script src="jssor.slider.mini.js"></script>
