  <div class="slider">
  </div>
   <div class="container">
    <div class="intro">
      <h4 class="text-center">大唐艺方简介</h4>
      <h6 class="text-center text-muted">INTRODUCTION OF DTART</h6>
      <hr />
      <p>大唐艺方是一家专注于提供高质量三维动画，多媒体制作，建筑可视化的综合视觉艺术服务提供商。公司创业四年来，秉承“立足西安，面向全国”的宗旨，使其成为西安数字视觉行业最具成长性的本土视觉机构。公司成立以来，与政府部门、建筑设计院、房地产及其他行业公司建立了良好的合作伙伴关系。 我们努力为客户创造深度价值！致力于成为西部领先的专业数字图像服务商，以全新的品牌传播理论引领中国数字视觉潮流。
      </p>
    </div>
    <hr class="invisible" />
    <div class="works">
      <div class="row">
        <div class="col-sm-2">
          <ul class="menu-nav-2">
            <li>
              案例展示
            </li>
          </ul>
        </div>
        <div class="col-sm-10">
          <ul class="menu-nav-2 pull-right">
            <li>三维动画</li>
            <li class="active">多媒体</li>
            <li>影视广告</li>
            <li>效果图</li>
            <li>其他作品</li>
          </ul>
        </div>
      </div>
      <hr class="thin" />
      <div class="row">
        <div class="col-sm-6">
          <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg" alt="city" />
        </div>
        <div class="col-sm-3">
          <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg" alt="city" />
        </div>
        <div class="col-sm-3">
          <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg" alt="city" />
        </div>
      </div>
    </div>
    <hr class="invisible" />
    <div class="biz">
      <div>
        <ul class="menu-nav-2">
          <li>核心业务</li>
        </ul>
      </div>
      <hr class="thin" />
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-animation.png" alt="Animation">
          <h4>三维动画</h4> 
          <p class="text-muted">3D Animation</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-media.png" alt="Animation">
          <h4>多媒体</h4> 
          <p class="text-muted">Multimedia</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-video.png" alt="Animation">
          <h4>影视广告</h4> 
          <p class="text-muted">Video shoot</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-impression.png" alt="Animation">
          <h4>效果图</h4> 
          <p class="text-muted">Impression Drawing</p>
        </div>
      </div>
    </div>
    <hr class="invisible" />
    <div class="customers text-center">
      <div>
        <ul class="menu-nav-2">
          <li>合作客户</li>
        </ul>
      </div>
      <hr class="thin" />
      <div class="row">
        <div class="col-sm-2 col-xs-6 customer-logo">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus1.png" alt="">
        </div>
        <div class="col-sm-2 col-xs-6 customer-logo ">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus2.png" alt="">
        </div>
        <div class="col-sm-2 col-xs-6 customer-logo ">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus3.png" alt="">
        </div>
        <div class="col-sm-2 col-xs-6 customer-logo ">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus4.png" alt="">
        </div>
        <div class="col-sm-2 col-xs-6 customer-logo ">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus5.png" alt="">
        </div>
        <div class="col-sm-2 col-xs-6 customer-logo ">
          <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus6.png" alt="">
        </div>
      </div>
    </div>
    <hr class="invisible" />
  </div>