<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">业务体系 <span class="text-muted">SERVICES</span>
                </div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#services-range">服务范围</a>
                        </li>
                        <li><a href="#services-system">服务体系</a>
                        </li>
                        <li><a href="#services-aftersales">售后服务</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" name="services-range">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-sm">
                                <img src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/services-3d-animation.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h5>三维动画</h5>
                            <h6 class="text-muted">3D Animation</h6>
                            <p>
                                地产动画、城市规划、影视广告、影视特效、品牌形象宣传，大唐艺方拥有专业负责的策划团队，技艺精湛的制作团队，能够精确把握项目的精髓和文化内涵；能将脑中的精妙构想超越呈现；为客户提供创意，高品质，符合要求的影视动画作品。诚挚精品服务，致力于创造一流品牌。
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-sm">
                                <img src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/services-multimedia.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h5>多媒体</h5>
                            <h6 class="text-muted">Multimedia</h6>
                            <p>
                                与传统的纸质媒介比较，多媒体有着无可比拟的优势，并以其大容量、交互性、内容丰富多彩、携带方便优点，广受青睐。大唐艺方个性化的创意方案和不断提高的技术水平为诸多企业、政府部门、科普场馆、主题公园、工业园区提供高品质的多媒体产品。
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-sm">
                                <img src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/services-video-shoot.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h5>视频拍摄</h5>
                            <h6 class="text-muted">Video Shoot</h6>
                            <p>
                                影视宣传片是采用影视摄制手法制作的一种视听综合艺术。针对客户需求，在品牌形象、产品功效等各个层面有重点、有针对、 有秩序地进行策划、拍摄、录音、剪辑、配音、配乐、合成输出制作成片，目的是为了声色并茂地凸现其独特的风格面貌、彰显其实力。 在内容上主要分为形象片和专题片。 适用范围：旅游景区、企业单位、事业单位、政府部门等领域。
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-sm">
                                <img src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/services-impression-drawing.jpg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h5>效果图</h5>
                            <h6 class="text-muted">Impression Drawing</h6>
                            <p>
                                大唐艺方拥有集专业模型、渲染和效果图后期组成的规范化团队。高效的作业流程、专业的效果图制作知识、丰富的设计经验和形象的效果图表达能力，已到达与客户珠联璧合，想之所想，急之所急。全面真实的再现，配合着灯光、色调、透视、鸟瞰和明暗灰进一步反映建筑美感，精益求精的工作态度是对建筑美的不懈追求。
                            </p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="services-system">
                    <h4 class="text-center">我们的承诺</h4>
                    <h6 class="text-center text-muted">OUR PROMISES</h6>
                    <p>
                        我们承诺，大唐艺方所承接的每一个项目都严格按照统一的流程来操作，保证各个项目时间节点与执行环节都严谨可靠。 我司将组织最优秀的人员作为项目的制作班底，全力以赴配合您的宣传需要，保证按时保质的完成项目。希望能够以我们的实力及诚意赢得为您服务的机会。
                    </p>
                    <div>
                        <img class="img-responsive" src="img/services-banner.png">
                    </div>
                    <div>
                        <ul class="menu-nav-2">
                            <li><a href="#">服务理念</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-sm">
                                <img src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/services-system-idea.jpg">
                            </div>
                        </div>
                        <div class='col-sm-8'>
                            创意，是数字动画的灵魂，每个客户都会有与众不同的需要。我们的目标，就在于通过原创出品，定制您的专属数字创意内容,为客户量身打造数字动画，互动多媒体、高清三维宣传等方面，实现了视觉展示与数字互动体验等多层面的一体化，我们将"在任何时间、任何地点、用任何方式获取服务【Anytime、Anywhere、Anyway】"的3A服务战略作为自身的不断追求，为客户提供至臻完善的数字创意内容服务。

                        </div>
                    </div>
                    <div>
                        <ul class="menu-nav-2">
                            <li><a href="#">团队建设</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-sm">
                                <img src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/services-system-team.jpg">
                            </div>
                        </div>
                        <div class='col-sm-8'>
                            我们拥有专业的数字创意团队，依靠前瞻的思维，超卓的技术和对您的诚心关怀，大唐艺方实现了个性化定制与标准化服务产品的融合，我们为地产、工业、教育、文化等不同行业提供专业数字图像整体解决方案，让您的创想即刻落地生根。
                        </div>
                    </div>
                    <div>
                        <ul class="menu-nav-2">
                            <li><a>项目流程</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="thin" />
                    <div class="project-process">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="project-process-title">
                                    <h4 class="text-center">项目前期</h4>
                                    <h5 class="text-muted text-center">PRE-PROJECT</h5>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="project-process-description">
                                    <p><span>业务员</span> ：咨询项目信息，提供参考图例</p>
                                    <p><span>客户</span> ：提供项目资料，制作时间及要求</p>
                                    <p><span>项目经理</span> ：评估项目周期，安排制作人员</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="project-process-title">
                                    <h4 class="text-center">项目制作</h4>
                                    <h5 class="text-muted text-center">PROJECT PRODUCTION</h5>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="project-process-description">
                                    <p><span>客户</span> ：签订合同/合作协议</p>
                                    <p><span>建模渲染师</span> ：主动咨询客户项目制作细节</p>
                                    <p><span>项目经理</span> ：审核把控出图质量</p>    
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="project-process-title">
                                    <h4 class="text-center">项目后期</h4>
                                    <h5 class="text-muted text-center">POST-PROJECT</h5>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="project-process-description">
                                    <p><span>客户</span> ：给予修改意见，签成品交付单</p>
                                    <p><span>客服</span> ：客户满意度回访，咨询客户意见</p>
                                    <p><span>项目经理</span> ：听取客户意见</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="services-aftersales">
                    <img class="img-responsive" src="img/ajax-loader.gif" data-delay-src="http://dt-art.qiniudn.com/assets/services-aftersales.jpg" data-crop="imageView2/1/w/500/h/200">
                    <hr class="invisible" />
                    <p>
                        大唐艺方跟进追踪为客户定制的一切产品与服务，确保提供最佳的用户体验值。严格的品质监控下，大唐艺方屡为客户创造完美的视觉展现， 我们真诚希望，通过我们的售后服务品质保证，让我们与客户一起真诚沟通，共创价值。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
