<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">客户服务</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#">服务范围</a></li>
                        <li><a href="#">服务体系</a></li>
                        <li><a href="#">售后服务</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
             <h4 class="text-center">我们的承诺</h4>
             <h6 class="text-center text-muted">Our promises</h6>
             <div class="well">
                 xxxxxxx
             </div>
        </div>
    </div>
</div>
