<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">业务体系 <span class="text-muted">SERVICES</span>
                </div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#services-range">服务范围</a>
                        </li>
                        <li><a href="#services-system">服务体系</a>
                        </li>
                        <li><a href="#services-aftersales">售后服务</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" name="services-range">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="work-sm work1">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h5>三维动画</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="work-sm work1">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h5>多媒体</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="work-sm work1">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h5>视频拍摄</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="work-sm work1">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h5>效果图</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="services-system">
                    <h4 class="text-center">我们的承诺</h4>
                    <h6 class="text-center text-muted">OUR PROMISES</h6>
                    <p>
 创意，是数字动画的灵魂，每个客户都会有与众不同的需要。我们的目标，就在于通过原创出品，定制您的专属数字创意内容。

我们拥有专业的数字创意团队，依靠前瞻的思维，超卓的技术和对您的诚心关怀，大唐艺方实现了个性化定制与标准化服务产品的融合，我们为地产、工业、教育、文化等不同行业提供专业数字图像整体解决方案，让您的创想即刻落地生根。
   我们承诺，大唐艺方所承接的每一个项目都严格按照统一的流程来操作，保证各个项目时间节点与执行环节都严谨可靠。
 
每个项目均采取专项专管操作制。为了更好的解决异地项目沟通环节上的问题，每个项目配均专职AE和项目经理，AE主要负责各时间节点的成果跟进，二十四小时贴身待命，确保客户的任何突发需求；项目经理主要负责全面协调及技术保障，保证就客户提出的技术问题及时的给出解释并予以处理。
 
我司将组织最优秀的人员作为项目的制作班底，全力以赴配合您的宣传需要，保证按时保质的完成项目。
 
希望能够以我们的实力及诚意赢得为您服务的机会。
                    </p>
                    <div>
                        <ul class="menu-nav-2">
                            <li><a href="#">服务理念</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="work-sm work1">
                            </div>
                        </div>
                        <div class='col-sm-8'>
                            超越所想，是凡拓对每个客户的承诺。创意超越所想，服务超越所想。凡拓致力于数字创意服务的创新与整合，在为客户量身打造数字展馆、互动多媒体、高清三维宣传片解决方案等方面，实现了立体视像展示与数字互动体验等多层面的一体化，我们将"在任何时间、任何地点、用任何方式获取服务【Anytime、Anywhere、Anyway】"的3A服务战略作为自身的不断追求，为客户提供至臻完善的数字创意内容服务。
                        </div>
                    </div>
                    <div>
                        <ul class="menu-nav-2">
                            <li><a href="#">团队建设</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="work-sm work1">
                            </div>
                        </div>
                        <div class='col-sm-8'>
凡拓拥有14个国内分支机构和4个海外机构，服务网络遍及亚欧澳美各大洲 20 多个国家和地区。我们在北京、深圳、广州、上海成立了四大数字科技创意中心，国内最大的500多人的3D数字创意研发团队和最早成立的用户体验研究实验室为凡拓客户倾心服务。认真投入、积极沟通、快速反应、紧密配合的服务准则使凡拓的客户版图不断拓展，深耕国内的同时，凡拓品质受到了美国、英国、新加坡、中东、澳洲等海外地区客户的一致认可。
                        </div>
                    </div>
                    <div>
                        <ul class="menu-nav-2">
                            <li><a href="#">项目流程</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="thin" />
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>项目前期</h4>
                                <h4>项目制作</h4>
                                <h4>项目后期</h4>
                            </div>
                            <div class="col-sm-8">
                        标准支持服务
为保证数字创意产品的有效运行，凡拓建立了整套标准支持服务体系，从项目筹备阶段的前期调研、立项、资料整合、创意碰撞、内容策划，到执行阶段的内容制作、硬件安装、程序测试、初稿、修改稿、定稿，直至收尾阶段的交付使用与技术培训、售后服务等，凡拓服务的每一步都以客户需求体验为出发点和最终目的，我们致力于进行服务标准的制定和实施，通过对标准化原则和方法的运用，以达到服务质量目标化、服务方法规范化、服务过程程序化，为全球客户提供高效精准的数字内容与创意服务。
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="services-aftersales">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="work-sm work1">
                        </div>
                    </div>
                    <div class="col-sm-8">
    大唐艺方跟进追踪为客户定制的一切产品与服务，确保提供最佳的用户体验值。严格的品质监控下，大唐艺方屡为客户创造完美的视觉展现，
    我们真诚希望，通过我们的售后服务品质保证，让我们与客户一起真诚沟通，共创价值。
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
