<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">客户服务</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#services-range">服务范围</a>
                        </li>
                        <li><a href="#services-system">服务体系</a>
                        </li>
                        <li><a href="#services-aftersales">售后服务</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h4 class="text-center">我们的承诺</h4>
            <h6 class="text-center text-muted">Our promises</h6>
            <div class="well">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="services-range">
                        <h1 class="text-center">Service Range</h1>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="services-system">
                        <h1 class="text-center">Service System</h1>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="services-aftersales">
                        <h1 class="text-center">Service After sales</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
