@import 'bootstrap-paper.css'
@import 'animate'
@import 'content'

@media (min-width: 1200px)
  .container
    max-width: 970px
$brand-color = #ca4773
$bk-color = #323232
$font-color-white = #eeeeee
$font-color-dark = #333333
$gray = #eee


//global styles
a
  color: $font-color-white
  &, &:hover, &:visited, &:focus
    text-decoration: none
body
  background: #fff
.top-banner
  background: $bk-color
  height: 30px
  line-height: 30px
  color: #ddd
.stripe
  height: 5px
  background: $brand-color
  background: linear-gradient(135deg, $brand-color, #F7B7AA)
.header
  padding-top: 20px
  .title
    color: $brand-color
    letter-spacing: 5px
    font-weight: bold
.menu-nav
  list-style-type: none
  margin-bottom: 0
  padding-left: 0
  &:after
    content: " "
    display: table
    clear: both
  a
    text-decoration: none
    margin: 0
    padding: 0
    display: block
    padding: 10px 20px
    text-align: center
  li
    position: relative
    float: left
    width: 100px
    a
      color: $font-color-dark
    >ul
      padding: 0
      list-style-type: none
      position: absolute
      left: 0
      top: 100%
      display: none
      z-index: 10
      >li
        width: 100%
        transition: background-color 0.3s
        background-color: #fff
        a
          color: $font-color-dark
          text-align: center
    &:hover 
      > a
        @extend .animated
      > ul
        display: block
        @extend .animated
        @extend .flipInX
    &:hover, &.active
      >a
        color: $font-color-white
        background-color: $brand-color
.modal-nav-toggle
  border: none
  background: transparent
  padding: 10px
  span
    width: 22px
    height: 2px
    background: $bk-color
    display: block
    margin-top: 10px
    &:first-child
      margin-top: 0
  
.modal-nav-wrap
  display: none
  position: fixed
  background-color: #fff
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 100
  overflow-x: hidden
  overflow-y: auto
  padding-top: 30px
  padding-bottom: 30px
  .close
    font-size: 50px
    margin-right: 15px
    
  .modal-nav
    list-style-type: none
    width: 100%
    font-size: 40px 
    text-align: center
    a
      display: block

.menu-nav-2
  list-style-type: none
  padding-left: 0
  margin-bottom: 0
  &:after
    content: " "
    display: table
    clear: both
  li
    cursor: pointer
    float: left
    background-color: $gray
    // &:hover
    //   @extend .animated
    //   @extend .flipInX
    a
      padding: 4px 10px
      color: $font-color-dark
    &.active a, a:hover
      background-color: $brand-color
      color: $font-color-white
      @extend .animated
      @extend .flipInX
    + li
      margin-left: 5px

//components
.tab-pane
  .tab-pane-item
    background-size: cover
    background-position: center center
    margin-bottom: 30px
    &.item-lg
      height: 230px
    &.item-sm
      height: 100px
  &.active .tab-pane-item
    @extend .animated
    @extend .puffIn
    
.biz
  .row
    .col-sm-3
      height: 220px
      img
        display: inline
.customers
  .customer-logo
    height: 65px
    img
      display: inline
hr.thin
  margin-top: 3px
  margin-bottom: 10px
.slider
  height: 300px
  background-image: url("http://cdn.wonderfulengineering.com/wp-content/uploads/2014/05/city-wallpaper-7.jpg")
  background-position: center
footer
  &, a, a:hover,a:visited
    color: #bbb
    text-decoration: none
  a:hover
    color: #eee
  background-color: $bk-color
  padding-top: 20px
  
//content page
.banner
    height: 150px
    &.green
      background-color: #53e0b3
.content-wrap
  margin-bottom: 30px
  .panel
    position: relative
    margin-top: -45px
    .panel-title
      font-size: 20px
  .content-item
    margin-bottom: 15px
    
   
