<h1>Test Page!</h1>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="img-sm">
            <img class="" src="img/ajax-loader.gif" data-delay-src="img/multimedia.jpg">
            <div class="backdrop"></div>
            <div class="img-title">
                Item ###
            </div>
            <div class="img-detail">
                Something detail.Something detail.Something detail.
            </div>
        </div>
    </div>
</div>

<div id="image-gallery">
    <div class="backdrop"></div>
    <img src="img/about-company.jpg" alt="">
</div>