<div id='swiper' class='swipe'>
  <div class='swipe-wrap'>
    <div>
    	<img src="http://placehold.it/455X310">
    </div>
    <div>
    	<img src="http://placehold.it/455X320">
    </div>
  </div>
</div>