<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">案例展示</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#works-animation" title="">三维动画</a>
                        </li>
                        <li><a href="#works-media" title="">多媒体</a>
                        </li>
                        <li><a href="#works-video" title="">影视广告</a>
                        </li>
                        <li><a href="#works-drawing" title="">效果图</a>
                        </li>
                        <li><a href="#works-others" title="">其他作品</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" name="works-animation">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                            <div class="tab-pane-item img-sm" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-media">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="tab-pane-item img-lg" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-video">
                     <div class="row">
                        <div class="col-sm-6">
                            <div class="tab-pane-item img-lg" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media>
                                <img src="img/ajax-loader.gif" data-delay-src="http://www.hisan.com.cn/uploads/allimg/110905/1-110Z51RU5354.jpg">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-drawing">
                    <div class="row">
                        <% var contents = works_drawing;
                         for(var i in contents){ %>
                          <% var image = contents[i] %>
                            <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-image>
                                <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + image %>">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-others">
                     <div class="row">
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-image>
                                <img src="img/ajax-loader.gif" data-delay-src="img/china-map.png">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-image>
                                <img src="img/ajax-loader.gif" data-delay-src="img/slider-arrow.png">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    Item ###
                                </div>
                                <div class="img-detail">
                                    Something detail.Something detail.Something detail.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
