<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">案例展示</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#works-animation" title="">三维动画</a>
                        </li>
                        <li><a href="#works-media" title="">多媒体</a>
                        </li>
                        <li><a href="#works-video" title="">影视广告</a>
                        </li>
                        <li><a href="#works-drawing" title="">效果图</a>
                        </li>
                        <li><a href="#works-others" title="">其他作品</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="works-animation">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="tab-pane-item item-sm item3" data-media>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item item-sm item1" data-media>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item item-sm item0" data-media>
                            </div>
                            <div class="tab-pane-item item-sm item3" data-media>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item item-sm item1" data-media>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="works-media">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="tab-pane-item item-lg item2" data-media></div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item item-sm item0" data-media></div>
                        </div>
                        <div class="col-sm-3">
                            <div class="tab-pane-item item-sm item3" data-media></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="works-video">
                    <h1 class="text-center">Video</h1>
                </div>
                <div role="tabpanel" class="tab-pane" id="works-drawing">
                    <h1 class="text-center">Drawing</h1>
                </div>
                <div role="tabpanel" class="tab-pane" id="works-others">
                    <h1 class="text-center">Others</h1>
                </div>
            </div>
        </div>
    </div>
</div>
