<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">案例展示</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active">三维动画</li>
                        <li>多媒体</li>
                        <li>视频拍摄</li>
                        <li>效果图</li>
                        <li>其他</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
                <div class="col-md-3 content-item">
                    <img class="img-responsive" src="http://www.telegraph.co.uk/incoming/article54082.ece/ALTERNATES/w620/hk-city.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
